.card{
    display: grid;
    border: solid 1px black;
    margin: 10px;
    padding: 1rem;
    width: 300px;
    height: 300px;
    font-family: "system-ui";
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
}

.characterImg{
    justify-self: center;  
    object-fit:contain;
    width: 100px;
    height: 100px;
    ;
}

.id-position {
   margin-top: 5em 0;
}
.name-position {
    margin-top: 0;
}

.subtitle-position {
    margin-bottom: 0;
} 

.types{
    font-size: large;
    display: flex;
    justify-content: space-evenly;
}