.card {
    display: grid;
    align-items: center;
    border: solid 1px beige;
    /* background-color: #c8e3c5; */
    background-color: white;
    margin: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
    box-shadow: 0 0px 10px rgba(53, 21, 21, 0.2);
    width: 300px;
    height: 140px;
    font-family: "system-ui";
    border-radius: 8px;
    position: relative;
}

.characterImg {
    justify-self: center;
    object-fit: contain;
    width: 100px;
    height: 100px;
    position: absolute; 
    top: -60px; 
    z-index: 1; 
}

.id-position {
    color:#9ca4b4;
    margin-top: 5em 0;
    font-size: 15px;
}

.name-position {
    color: #162442;
    margin-top: 0;
}

.subtitle-position {
    margin-bottom: 0;
}

