.parent {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}



@media all and (max-width: 800px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 400px) {
  .parent {
    grid-template-columns: repeat(1, 1fr);
  }
}



