.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    overflow: auto;
    flex-direction: row;
    
}
.btn{
    margin: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}