.sprite-position{
    display:flex;
    justify-content: center;
    position:relative ;
}

.stats-items{
    display: flex;
    justify-content: space-evenly;;
    padding:25px;
    color: #162442;
    font-weight: bold;
    position: relative;
    margin-top: 0px;
}

.descriptionText{
    text-align: center;
    padding: 15px;
}

.statsNumber{
    margin-top: 0px;
    color: #162442;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #c7c7c752;
    border-radius: 20px;
    width: 90px;
    height: 25px;
}

.statsDots{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: white;
    align-items: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    top:-16px;
    position: relative;
}
