.sprite-position{
    display:flex;
    justify-content: center;
    position:relative;
    margin-top: 40px;      
}

.stats-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 1em;
}

