.btnPrimary {
    background: #5884dd;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) ;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    color: white ;
    cursor: pointer;
  }
  
  .btnPrimary:hover {
     background-color: #99b4e9;
     color: white;
  }
  
  .btnPrimary:active {
    opacity: 0.5;
  }

  .btnPrimary:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }

  .displayHorizontal {
    font-size: large;
    display: flex;
    justify-content: space-evenly;
}

.displayHabilitades{
  display: flex;
  justify-content: space-evenly;
}

.titles{
  margin: 0;
}
