body{
  background-image: url('../public/pokemon\ grass.jpg') ; 
}

.app-container {
  display: flex;
  text-align: center;
}

.character-list {
  flex: 1;
  padding: 20px;
}

.sidebar {
  flex: 1;
  padding: 20px;
}
