body{
  /*background-image: url('../public/assets/background.jpg') ;*/  
   background-color: #f4f4fc; 
} 

.app-container {
  display: flex;
  text-align: center;
  
}

.character-list {
  flex: 1;
  padding: 20px;
  margin: 0;
}

